

#RegisterBack{
	background: rgb(246,233,239);
    background: linear-gradient(112deg, rgba(246,233,239,1) 9%, rgba(192,234,236,1) 50%, rgba(148,187,233,1) 95%);
    height: 100%;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	padding: 80px;

}
.Register-data{
	display: grid;
	grid-template-columns: auto;
	gap: 15px;
}
#form-register{
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: white;
	background-color: rgba(255,255,255,0.4);
	backdrop-filter: blur(15px);
}
#form-register .frm-data{
	width: 50%;
	height: auto;
	padding: 40px 40px;
	border-right: 1px solid rgba(255,255,255,0.8);
	font-family: "space grotesk", sans-serif;
}

/* #form-register .frm-data button{
    background-color: blue;
	width: 100%;
	outline: none;
	border: 1px solid black;
	height: 40px;
} */
#form-register #register-img{
	width: 50%;
	height: auto;

}
#register-img img{
	width: 100%;
	height: 400px;
	overflow: hidden;
	object-fit: cover;
}

/* Default styles for all devices */


  /* Media query for small screens (e.g., phones) */
@media (max-width: 767px) {
	#RegisterBack {
		background: rgb(246,233,239);
		background: linear-gradient(112deg, rgba(246,233,239,1) 9%, rgba(192,234,236,1) 50%, rgba(148,187,233,1) 95%);
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 60px;
		padding: 50px 10px;
	}
	#form-register{
		border-radius: 15px;
		padding: 10px 19px;
	}
	#form-register .frm-data {
		width: 100%;
		height: auto;
		border-right: none;


	}
	#register-img img {
		display: none;
	}
	#form-register #register-img {
		display: none;
	}
}

/*
@media (min-width:768px) and (max-width:1023px){
	#form-register {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: white;
		background-color: rgba(255,255,255,0.4);
		-webkit-backdrop-filter: blur(15px);
		backdrop-filter: blur(15px);
	}
	#form-register .frm-data {
		width: 100%;
		height: auto;
		margin: auto;
		border-right:none;
	}
	#form-register #register-img {
		display: none;
	}
	.Register-data {
		display: grid;
		grid-template-columns: auto auto;
		gap: 20px;
	}
	#form-register .frm-data button {
		background-color: transparent;
		width: 100%;
		outline: none;
		border: 1px solid lightslategray;
		height: 40px;
	}

}

@media (min-width:1024px) and (max-width:1279px){

}

@media (min-width:1280px){

} */